.node {
  width: 25px;
  height: 25px;

  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  font-size: 15px;
  position: relative;
  top: 0px;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #3437aa;
    border-radius: 100%;
  }

  25% {
    background-color: #931f92;
  }

  50% {
    background-color: #bf2579;
  }

  75% {
    transform: scale(1.25);
    background-color: #ec395b;
  }

  100% {
    transform: scale(1);
    background-color: #f09b37;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
  color: rgb(12, 53, 71);
  animation-name: wall;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-shortest-path {
  font-size: 15px;
  position: relative;
  top: 0px;
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #3437aa;
  }

  50% {
    transform: scale(1.4);
    background-color: #bf2579;
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

@keyframes wall {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
